.wrapper {
  background-color: skyblue;
  color: white;
  font-size: 40px;
  padding: 30px;
  border: 5px solid white;
  margin: 20px;
  font-weight: 800;
}

.free{
  color :blue;
  border : 5px solid blue;
}

:global .global_style {
  color : red;
}